    @import url('https://fonts.googleapis.com/css?family=Roboto:400,500,600,700&display=swap');

    * {
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
    }

    .container {
        padding-top: 30px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 5px;
        grid-row-gap: 10px;
    }


    li {
        list-style: none;
        padding: 2px;

    }

    li:first-letter {
        text-transform: capitalize;
    }

    .tienda {
        grid-area: 1 / 5 / 2 / 5;
        display: flex;
        align-content: center;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    #print {
        text-decoration: none;
        padding: 10px;
        font-weight: 600;
        font-size: 20px;
        color: #ffffff;
        background-color: rgb(47, 123, 189);
        border-radius: 6px;
        border: 2px solid rgb(76, 150, 215);
    }

    #print:hover {
        color: rgb(47, 123, 189);
        background-color: #ffffff;
    }

    #search {
        text-decoration: none;
        padding: 10px;
        font-weight: 600;
        font-size: 20px;
        color: #ffffff;
        background-color: rgb(47, 123, 189);
        border-radius: 6px;
        border: 2px solid rgb(76, 150, 215);
    }

    #search:hover {
        color: rgb(47, 123, 189);
        background-color: #ffffff;
    }

    #precio {
        color: #222;
        font-size: 25px;
        text-shadow: 0px 2px 3px #555;
        grid-area: 3 / 2 / 4 / 4;

    }

    #precio span {
        color: #db3d38;
    }

    #listado {
        grid-area: 2 / 5 / 6 / 6;
        color: rgb(5, 37, 65);
        font-size: 20px;

    }

    .formulario {
        grid-area: 1 / 2 / 2 / 4;
        background-color: rgb(47, 123, 189);
        display: flex;
        justify-content: space-around;
        align-content: space-around;
        flex-direction: column;
        flex-wrap: wrap;
        border-radius: 10px;
    }

    .formulario label {
        color: #fff;
        font-size: 30px;
    }

    .formulario input {
        font-size: 30px;
        color: rgb(47, 123, 189);
        border-radius: 10px;
        margin-left: 10px;
        border-style: none;
        text-align: center;
    }

    .button1 {
        grid-area: 2 / 2 / 2 / 3;
    }

    .button2 {
        grid-area: 2 / 3 / 2 / 4;
    }

    .imagen {
        display: flex;
        justify-content: space-around;
        /* height: 1%; */
        /* height: 10vh; */
        /* height: 1%;
        width: 2%; */
        grid-area: 1 / 1 / 2 / 2;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
    }

    img {
        width: 60%;
    }

    br {

        line-height: 1.6em;
    }